# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
env/

# OS / Editor files
.DS_Store
*.log
.vscode/
.idea/
*.swp
*.swo

# Monorepo / tooling caches
.turbo/
.cache/
.DS_Store